[submodule "ocs2_robotic_assets"]
	path = submodules/ocs2_robotic_assets
	url = https://github.com/sunausti/ocs2_robotic_assets.git
[submodule "pinocchio"]
	path = submodules/pinocchio
	url = https://github.com/sunausti/pinocchio
[submodule "submodules/plane_segmentation_ros2"]
	path = submodules/plane_segmentation_ros2
	url = https://github.com/sunausti/plane_segmentation_ros2
